name: Build Electron App


on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

jobs:
  build:
    name: Build Windows App
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v
      with:
        fetch-depth: 0

    - name: Setup Bun
      uses: oven-sh/setup-bun@v2
      with:
        bun-version: latest

    - name: Install Dependencies
      # Using npm install because package-lock.json might be missing (project uses bun.lock)
      run: bun install

    - name: Build Electron App
      env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }} 
      run: bun run electron:build:win

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: promodoro-todo-win
        path: release/*.exe
        if-no-files-found: ignore
